* {
    box-sizing: border-box;
}

._ui__button__default {
    margin-bottom: 20px;
    text-decoration: none;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

h1 {
    color: #000;
    text-align: center;
    font-size: 25px;
    padding: 30px 0;
}

.links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0 20px;
}


