
*  {
    box-sizing: border-box;
  }
  
body {
    overflow: hidden;
    width: 100vw;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
  
  
  video {
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 1;
    position: relative;
    border-radius: 10px;
    display: block;
  }
  
  
  .main {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      overflow: auto;
  }
  
  
  
  .footer {
      padding: 10px 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
  }
  
  ._ui__button__default {
      width: 40px;
      height: 40px;
  }
  
  ._ui__button__default:not(.large) {
      flex-shrink: 0;
      margin-left: 10px;
  }
  
  ._ui__button__default.large {
      width: 100%;
  }
  
  .result_overlay {
    width: 50px;
    height: 50px;
    border: 3px solid #ff0;
    position: absolute;
  }
  
  .result_overlay span {
    position: absolute;
    bottom: 0;
    left: 50%;
    white-space: nowrap;
    color: #ff0;
    transform: translate(-50%, 100%);
    padding-top: 5px;
    font-size: 10px;
  }
  
  video.hidden,
  .result_overlay.hidden,
  .result_image.hidden,
  ._ui__button__default.hidden,
  .loader.hidden {
    display: none;
  }
  
  .result_image {
    max-height: 100%;
    max-width: 100%;
    display: block;
    border-radius: 10px;
  }
  
  
  .loader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .loader__inner {
    width:80px;
    height:80px;
    border-radius:50%;
    border:10px solid;
    border-color: transparent;
    border-color: transparent;
    border-right-color: rgb(255, 190, 0);
    animation:s2 1s infinite linear;
  }
  @keyframes s2 {to{transform: rotate(1turn)}}
  
  .loader__text {
    color: rgb(201, 158, 32);
    text-align: center;
    max-width: 90vw;
    margin-top: 10px;
  }
  
  
  .tags_list,
  .confidence_setting {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.0);
    padding-top: 90px;
    transition: background-color 0.3s;
  }
  
  .confidence_setting {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  
  .tags_list.hidden,
  .confidence_setting.hidden {
    display: none;
  }
  
  .tags_list__body,
  .confidence_setting__body {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 20px 20px 0 0;
    transform: translate(0, 100%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    transition: transform 0.3s;
  }
  
  .confidence_setting__body {
    height: auto;
  }
  
  .tags_list__header,
  .confidence_setting__header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 20px;
    position: relative;
  }
  
  .tags_list__header:before,
  .confidence_setting__header:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
  }
  
  .tags_list__header h2,
  .confidence_setting__header h2 {
    width: 100%;
  }
  
  .tags_list.show,
  .confidence_setting.show {
    background-color: rgba(0,0,0,.8);
    transition: background-color 0.3s;
  }
  
  .tags_list.show .tags_list__body,
  .confidence_setting.show .confidence_setting__body {
    transform: translate(0, 0);
    transition: transform 0.3s;
  }
  
  .tags {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    width: 100%;
    padding: 20px 20px;
    margin: 0;
    overflow-y: auto;
  }
  
  .tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #eee;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 10px;
  }
  
  .tag__title {
    padding: 0 0 0 20px;
  } 
  
  .tag__checkbox {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    appearance: none;
    -webkit-appearance: none;
    background-color: #eee;
    position: relative;
  }
  
  .tag__checkbox:checked::before {
    content: '';
    background-color: rgb(255, 190, 0);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    left: 5px;
    top: 5px;
  }