.header {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background-color: #fff;
}

.header__button {
    background-color: transparent;
    border: none;
    color: #000;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-shrink: 0;
}

.header__title {
    color: #000;
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-right: 40px;
    text-align: center;
    width: 100%;
}