._ui__button__default {
    background-color: rgb(255, 190, 0);
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 5px 10px;
    height: 40px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    box-shadow: rgba(255, 190, 0, 0.5) 0px 0px 6px;
}

._ui__input__default {
    background-color: #fff;
    height: 40px;
    border: 1px solid rgb(255, 190, 0);
    border-radius: 20px;
    padding: 5px 10px;
    outline: none;
    box-shadow: rgba(255, 190, 0, 0.25) 0px 0px 6px;

}

._ui__button__default * {
    flex-shrink: 0;
}

._ui__button__default:disabled {
  background-color: rgb(189, 185, 175);
  box-shadow: rgba(179, 179, 179, 0.25) 0px 0px 6px;
}

.warning {
    overflow: hidden;
    flex-shrink: 0;
  
    position: fixed;
    left: 0;
    /* bottom: 5px; */
    width: 100%;
    
    padding: 10px;
  
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  
    top: -100%;
    opacity: 0;
    z-index: 10000;
  }
  
  .warning.show {
    animation: showWarning 2.5s cubic-bezier(1,-0.05,0,1.05);
  }
  
  .warning__text {
    font-size: 15px;
    color: #fff;
    width: 100%;
    text-align: center;
    margin: 0;
    background-color: rgba(0,0,0,.9);
    border-radius: 10px;
    padding: 15px 15px;
  }
  
  @keyframes showWarning {
    0% {
        top: -100%;
        opacity: 0;
    }
    10% {
        top: 0;
        opacity: 1;
    }
    90% {
      top: 0;
      opacity: 1;
    }
    100% {
      top: -100%;
      opacity: 0;
    }
  }

.warning.success .warning__text {
  background-color: rgba(21, 115, 71, 1);
  color: #fff;
}

.warning.danger .warning__text {
  background-color: rgba(187, 45, 59, 1);
  color: #fff;
}